.cards-product {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards-product__heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.cards-product__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: var(--clr-black);
}

.cards-product__subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: var(--clr-gray);
}

.cards-product__cards {
  margin-top: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.cards-product__card-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 360px;
  -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
  background: var(--clr-light);
  overflow: hidden;
}

.card-item__img img {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-item__content {
  padding: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}

.card-item__content h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;
  color: #111;
}

.card-item__specialty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 11px;
}

.card-item__specialty span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
  color: rgba(17, 17, 17, 0.5);
  gap: 8px;
}

.card-item__specialty span i {
  font-size: 20px;
  line-height: 1;
  color: var(--clr-main);
}

.card-item__list li {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: rgba(17, 17, 17, 0.6);
}

.card-item__price {
  display: block;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

.card-item__btn {
  width: 100%;
}

@media (max-width: 1375px) {
  .cards-product__cards {
    margin-top: 50px;
  }
}

@media (max-width: 680px) {
  .cards-product__cards {
    margin-top: 30px;
  }
}

@media (max-width: 340px) {
  .cards-product__heading {
    gap: 10px;
  }

  .cards-product__title {
    font-size: 28px;
  }
}