.page-bunner {
  width: 100%;
  height: 480px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-bunner__heading {
  max-width: 629px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.page-bunner__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 52px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: var(--clr-white);
}

.page-bunner__subtitle,
.page-bunner__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #efefef;
  text-shadow: 0 0 1px #000;
}

.no-webp .page-bunner--gallery {
  background: -webkit-gradient(linear, right top, left top, from(rgba(33, 94, 140, 0)), to(rgba(20, 91, 142, 0.8))), url("./../img/bunner_gallery-page.jpg");
  background: linear-gradient(270deg, rgba(33, 94, 140, 0) 0%, rgba(20, 91, 142, 0.8) 100%), url("./../img/bunner_gallery-page.jpg"); }

.gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
}

.gallery img {
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.05);
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.gallery img:hover {
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3), 0px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3), 0px 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.gallery picture img {
  width: 100% !important;
}

.popup {
  padding: 20px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(70px);
          backdrop-filter: blur(70px);
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
}

.popup-content {
  position: relative;
  padding: 2px;
  width: 920px;
  height: 580px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(70px);
          backdrop-filter: blur(70px);
  background: rgba(255, 255, 255, 0.15);
}

.popup-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0 3px 0px rgba(255, 255, 255, 0.7);
          box-shadow: 0px 0 3px 0px rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  z-index: 20;
}

.popup img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background: var(--clr-white);
  border-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  z-index: 21;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 3px;
  background-color: var(--clr-gray);
  border-radius: 2px;
}

.close-btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.close-btn:hover::before,
.close-btn:hover::after {
  background: var(--clr-black);
}

.close-btn::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.prev-btn,
.next-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  background: var(--clr-white);
  color: var(--clr-gray);
  border: none;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  border-radius: 50%;
  text-shadow: 0 0 1px #000, 0 0 2px #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  z-index: 21;
}

.prev-btn:hover,
.next-btn:hover {
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--clr-black);
}

.prev-btn {
  left: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.next-btn {
  right: 0;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

#popupImage {
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}

.slide-left {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.slide-right {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

@media (min-width: 769px) {
  .gallery img {
    width: calc(33.333% - 10.666px);
  }
}

@media (max-width: 1200px) {
  .gallery {
    gap: 10px;
  }
}

@media (max-width: 992px) {
  .gallery img {
    height: 200px;
  }

  .popup-content {
    max-width: 630px;
    width: 100%;
    height: 365.652173913px;
  }
}

@media (max-width: 768px) {
  .page-bunner {
    height: 300px;
  }

  .page-bunner__heading {
    gap: 20px;
  }

  .page-bunner__title {
    font-size: 42px;
  }

  .page-bunner__text {
    font-size: 14px;
  }

  .no-webp .page-bunner--gallery {
    background: -webkit-gradient(linear, right top, left top, from(rgba(33, 94, 140, 0.2)), to(rgba(20, 91, 142, 0.9))), url("./../img/bunner_gallery-page_tab.jpg");
    background: linear-gradient(270deg, rgba(33, 94, 140, 0.2) 0%, rgba(20, 91, 142, 0.9) 100%), url("./../img/bunner_gallery-page_tab.jpg"); }

  .gallery img {
    width: calc(50% - 5px);
  }

  .gallery picture {
    width: calc(50% - 5px);
  }

  .prev-btn {
    left: 0;
  }

  .next-btn {
    right: 0;
  }
}

@media (max-width: 640px) {
  .prev-btn,
  .next-btn {
    width: 35px;
    height: 35px;
    padding: 0;
  }
}

@media (max-width: 475px) {
  .page-bunner__title {
    font-size: 36px;
  }

  .no-webp .page-bunner--gallery {
    background: -webkit-gradient(linear, right top, left top, from(rgba(33, 94, 140, 0.4)), to(rgba(20, 91, 142, 0.9))), url("./../img/bunner_gallery-page_mob.jpg");
    background: linear-gradient(270deg, rgba(33, 94, 140, 0.4) 0%, rgba(20, 91, 142, 0.9) 100%), url("./../img/bunner_gallery-page_mob.jpg"); }
}

@media (max-width: 445px) {
  .gallery img {
    height: 150px;
  }
}

@media (max-width: 425px) {
  .page-bunner__text {
    font-size: 13px;
  }
}

.webp .page-bunner--gallery { background: -webkit-gradient(linear, right top, left top, from(rgba(33, 94, 140, 0)), to(rgba(20, 91, 142, 0.8))), url(./../img/bunner_gallery-page.webp); background: linear-gradient(270deg, rgba(33, 94, 140, 0) 0%, rgba(20, 91, 142, 0.8) 100%), url(./../img/bunner_gallery-page.webp); }

@media (max-width: 768px) {

  .webp .page-bunner--gallery { background: -webkit-gradient(linear, right top, left top, from(rgba(33, 94, 140, 0.2)), to(rgba(20, 91, 142, 0.9))), url(./../img/bunner_gallery-page_tab.webp); background: linear-gradient(270deg, rgba(33, 94, 140, 0.2) 0%, rgba(20, 91, 142, 0.9) 100%), url(./../img/bunner_gallery-page_tab.webp); }
}

@media (max-width: 475px) {

  .webp .page-bunner--gallery { background: -webkit-gradient(linear, right top, left top, from(rgba(33, 94, 140, 0.4)), to(rgba(20, 91, 142, 0.9))), url(./../img/bunner_gallery-page_mob.webp); background: linear-gradient(270deg, rgba(33, 94, 140, 0.4) 0%, rgba(20, 91, 142, 0.9) 100%), url(./../img/bunner_gallery-page_mob.webp); }
}