.page-bunner {
  width: 100%;
  height: 480px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-bunner__heading {
  max-width: 629px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.page-bunner__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 52px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: var(--clr-white);
}

.page-bunner__subtitle,
.page-bunner__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #efefef;
  text-shadow: 0 0 1px #000;
}

.no-webp .page-bunner--rooms {
  background: -webkit-gradient(linear, right top, left top, from(rgba(33, 94, 140, 0)), to(rgba(20, 91, 142, 0.8))), url("./../img/bunner_rooms-page.jpg");
  background: linear-gradient(270deg, rgba(33, 94, 140, 0) 0%, rgba(20, 91, 142, 0.8) 100%), url("./../img/bunner_rooms-page.jpg"); }

.info-grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.info-grid__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  letter-spacing: -0.03em;
  color: var(--clr-black);
}

.info-grid__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}

.info-grid__item {
  border-radius: 10px;
  padding: 32px 24px;
  max-width: 369px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--clr-smoke);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.info-grid__count {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  color: #081f32;
}

.info-grid__type {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--clr-gray);
}

.info-room__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-room__gallery {
  width: 100%;
  max-width: 1340px;
  position: relative;
}

.info-room__gallery h2 {
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--clr-white);
  position: absolute;
  bottom: 50px;
  left: 100px;
  text-shadow: 1px 1px 1px var(--clr-black);
}

.info-room__content {
  margin: 50px auto 0;
  max-width: 1180px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.info-room__desc p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--clr-gray);
}

.info-room__details h3 {
  margin-bottom: 30px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.03em;
  color: var(--clr-black);
}

.info-room__details ul {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 16px;
}

.info-room__details ul li {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 8px 24px;
  background: var(--clr-light);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--clr-gray);
}

.room-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 284px;
  grid-template-columns: 1fr 284px;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  width: min(100%, 1340px);
  aspect-ratio: 1340/590;
}

.room-gallery__img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.room-gallery__img:nth-child(2),
.room-gallery__img:nth-child(3) {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.room-gallery__img:nth-child(2):hover,
.room-gallery__img:nth-child(3):hover {
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3), 0px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3), 0px 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.room-gallery__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.room-gallery__img:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

@media (max-width: 992px) {
  .info-grid__item {
    padding: 24px 18px;
  }

  .info-grid__count {
    font-size: 22px;
  }

  .info-room {
    padding-top: 0;
  }

  .info-room__gallery {
    height: auto;
  }

  .info-room__gallery h2 {
    top: 50px;
  }

  .info-room__desc p {
    font-size: 16px;
  }

  .room-gallery {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    height: auto;
  }

  .room-gallery__img {
    height: auto;
  }

  .room-gallery__img:nth-child(1) {
    grid-column: 1/-1;
    width: 100%;
    height: auto;
  }

  .room-gallery__img:nth-child(1) img {
    height: 100%;
  }

  .room-gallery__img:nth-child(2),
  .room-gallery__img:nth-child(3) {
    width: 100%;
    height: auto;
    max-height: 240px;
    aspect-ratio: 1/0.618;
  }

  .room-gallery__img:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .room-gallery__img:nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

@media (max-width: 768px) {
  .page-bunner {
    height: 300px;
  }

  .page-bunner__heading {
    gap: 20px;
  }

  .page-bunner__title {
    font-size: 42px;
  }

  .page-bunner__text {
    font-size: 14px;
  }

  .no-webp .page-bunner--rooms {
    background: -webkit-gradient(linear, right top, left top, from(rgba(33, 94, 140, 0.2)), to(rgba(20, 91, 142, 0.9))), url("./../img/bunner_rooms-page_tab.jpg");
    background: linear-gradient(270deg, rgba(33, 94, 140, 0.2) 0%, rgba(20, 91, 142, 0.9) 100%), url("./../img/bunner_rooms-page_tab.jpg"); }

  .info-grid__count {
    font-size: 20px;
  }

  .info-grid__type {
    font-size: 16px;
  }

  .info-room__gallery h2 {
    top: 15px;
    left: 30px;
    font-size: 36px;
  }

  .info-room__details ul {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .room-gallery {
    gap: 8px;
  }
}

@media (max-width: 640px) {
  .info-grid__block {
    gap: 8px;
  }

  .info-grid__item {
    padding: 16px 8px;
  }

  .info-grid__count {
    font-size: 18px;
  }

  .info-grid__type {
    font-size: 12px;
  }
}

@media (max-width: 545px) {
  .info-grid__title {
    width: 100%;
    font-size: 28px;
    text-align: center;
  }

  .info-grid__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .info-grid__item {
    max-width: 100%;
    padding: 10px 8px;
    border-radius: 5px;
  }

  .info-room__gallery h2 {
    font-size: 30px;
  }

  .info-room__details h3 {
    text-align: center;
    line-height: 1.2;
  }

  .room-gallery__img:nth-child(1) {
    min-height: 280px;
  }
}

@media (max-width: 475px) {
  .page-bunner__title {
    font-size: 36px;
  }

  .no-webp .page-bunner--rooms {
    background: -webkit-gradient(linear, right top, left top, from(rgba(33, 94, 140, 0.4)), to(rgba(20, 91, 142, 0.9))), url("./../img/bunner_rooms-page_mob.jpg");
    background: linear-gradient(270deg, rgba(33, 94, 140, 0.4) 0%, rgba(20, 91, 142, 0.9) 100%), url("./../img/bunner_rooms-page_mob.jpg"); }
}

@media (max-width: 425px) {
  .page-bunner__text {
    font-size: 13px;
  }
}

.webp .page-bunner--rooms { background: -webkit-gradient(linear, right top, left top, from(rgba(33, 94, 140, 0)), to(rgba(20, 91, 142, 0.8))), url(./../img/bunner_rooms-page.webp); background: linear-gradient(270deg, rgba(33, 94, 140, 0) 0%, rgba(20, 91, 142, 0.8) 100%), url(./../img/bunner_rooms-page.webp); }

@media (max-width: 768px) {

  .webp .page-bunner--rooms { background: -webkit-gradient(linear, right top, left top, from(rgba(33, 94, 140, 0.2)), to(rgba(20, 91, 142, 0.9))), url(./../img/bunner_rooms-page_tab.webp); background: linear-gradient(270deg, rgba(33, 94, 140, 0.2) 0%, rgba(20, 91, 142, 0.9) 100%), url(./../img/bunner_rooms-page_tab.webp); }
}

@media (max-width: 475px) {

  .webp .page-bunner--rooms { background: -webkit-gradient(linear, right top, left top, from(rgba(33, 94, 140, 0.4)), to(rgba(20, 91, 142, 0.9))), url(./../img/bunner_rooms-page_mob.webp); background: linear-gradient(270deg, rgba(33, 94, 140, 0.4) 0%, rgba(20, 91, 142, 0.9) 100%), url(./../img/bunner_rooms-page_mob.webp); }
}