.page-bunner {
  width: 100%;
  height: 480px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-bunner__heading {
  max-width: 629px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.page-bunner__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 52px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: var(--clr-white);
}

.page-bunner__subtitle,
.page-bunner__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #efefef;
  text-shadow: 0 0 1px #000;
}

.no-webp .page-bunner--services {
  background: -webkit-gradient(linear, right top, left top, from(rgba(33, 94, 140, 0)), to(rgba(20, 91, 142, 0.8))), url("./../img/bunner_services-page.jpg");
  background: linear-gradient(270deg, rgba(33, 94, 140, 0) 0%, rgba(20, 91, 142, 0.8) 100%), url("./../img/bunner_services-page.jpg"); }

.service-cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.service-cards__service-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.service-card__img {
  max-width: 555px;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
}

.service-card__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-card__content {
  max-width: 555px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
}

.service-card__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #222;
}

.service-card__text {
  padding-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #555;
}

.service-card__btn {
  width: 100%;
  text-align: start;
}

@media (max-width: 992px) {
  .service-card__text {
    padding-bottom: 0;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .page-bunner {
    height: 300px;
  }

  .page-bunner__heading {
    gap: 20px;
  }

  .page-bunner__title {
    font-size: 42px;
  }

  .page-bunner__text {
    font-size: 14px;
  }

  .no-webp .page-bunner--services {
    background: -webkit-gradient(linear, right top, left top, from(rgba(33, 94, 140, 0.2)), to(rgba(20, 91, 142, 0.9))), url("./../img/bunner_services-page_tab.jpg");
    background: linear-gradient(270deg, rgba(33, 94, 140, 0.2) 0%, rgba(20, 91, 142, 0.9) 100%), url("./../img/bunner_services-page_tab.jpg"); }

  .service-cards__service-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 475px) {
  .page-bunner__title {
    font-size: 36px;
  }

  .no-webp .page-bunner--services {
    background: -webkit-gradient(linear, right top, left top, from(rgba(33, 94, 140, 0.4)), to(rgba(20, 91, 142, 0.9))), url("./../img/bunner_services-page_mob.jpg");
    background: linear-gradient(270deg, rgba(33, 94, 140, 0.4) 0%, rgba(20, 91, 142, 0.9) 100%), url("./../img/bunner_services-page_mob.jpg"); }
}

@media (max-width: 445px) {
  .service-card__title {
    width: 100%;
    font-size: 28px;
    text-align: center;
  }

  .service-card__text {
    font-size: 15px;
  }

  .service-card__btn {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .page-bunner__text {
    font-size: 13px;
  }
}

.webp .page-bunner--services { background: -webkit-gradient(linear, right top, left top, from(rgba(33, 94, 140, 0)), to(rgba(20, 91, 142, 0.8))), url(./../img/bunner_services-page.webp); background: linear-gradient(270deg, rgba(33, 94, 140, 0) 0%, rgba(20, 91, 142, 0.8) 100%), url(./../img/bunner_services-page.webp); }

@media (max-width: 768px) {

  .webp .page-bunner--services { background: -webkit-gradient(linear, right top, left top, from(rgba(33, 94, 140, 0.2)), to(rgba(20, 91, 142, 0.9))), url(./../img/bunner_services-page_tab.webp); background: linear-gradient(270deg, rgba(33, 94, 140, 0.2) 0%, rgba(20, 91, 142, 0.9) 100%), url(./../img/bunner_services-page_tab.webp); }
}

@media (max-width: 475px) {

  .webp .page-bunner--services { background: -webkit-gradient(linear, right top, left top, from(rgba(33, 94, 140, 0.4)), to(rgba(20, 91, 142, 0.9))), url(./../img/bunner_services-page_mob.webp); background: linear-gradient(270deg, rgba(33, 94, 140, 0.4) 0%, rgba(20, 91, 142, 0.9) 100%), url(./../img/bunner_services-page_mob.webp); }
}